/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}

/* --------------------- */

body {
  height: 100vh;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* --------------------- */

/*

  HERO
  
*/

.hero {
  background-color: #1f2937;
  color: #fafbfc;
}

.navbar,
.navbar ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar,
.front-page {
  padding: 10px 250px;
}

.navbar ul {
  gap: 20px;
}

.navbar p {
  font-weight: 700;
  font-size: 1.2em;
}

.navbar a {
  text-decoration: none;
  color: #ffffff;
}

.front-page {
  margin: 100px 0;
  display: flex;
  gap: 50px;
}

.text-content-front-page h1 {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
}

.text-content-front-page p {
  font-size: 18px;
  color: #e5e7eb;
}

.text-content-front-page button {
  color: #ffffff;
  font-weight: 900;
  margin-top: 10px;
  padding: 8px 30px;
  background-color: #3882f6;
  border: 0;
  border-radius: 10px;
  cursor: pointer;

}

/* --------------------- */

/*

  RANDOM INFO
  
*/

.random-info {
  padding: 50px 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.random-info h2 {
  font-size: 36px;
  color: #1f2937;
  font-weight: 900;
}

.ilustration-section {
  padding: 0 250px;
  display: flex;
  gap: 20px;
}

.ilustration-section .ilustration {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.ilustration-section .ilustration img {
  border: 3px solid #3882f6;
  border-radius: 10px;
}

.ilustration-section .ilustration p {
  text-align: center;
  padding: 10px;
}

/* --------------------- */

/*

  QUOTE SECTION
  
*/

.quote-section {
  background-color: #e5e7eb;
  padding: 100px 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 5px;
}

#quote-text {
  font-size: 36px;
  color: #1f2937;
  font-weight: 300;
  font-style: italic;
}

#quote-author {
  font-weight: 600;
  font-size: 1.2em;
}

/* --------------------- */

/*

  SING UP
  
*/

.sing-up {
  padding: 80px;
}

.sing-up-blue-box {
  background-color: #3882f6;
  padding: 50px 150px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sing-up-blue-box button {
  color: #ffffff;
  font-weight: 900;
  margin-top: 10px;
  padding: 8px 30px;
  background-color: #3882f6;
  border: 2px solid #ffffff;
  border-radius: 10px;
  cursor: pointer;
}

.sing-up-text {
  color: #ffffff;
  display: flex;
  flex-direction: column;
}

/* --------------------- */

/*

  FOOTER
  
*/
